<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new-edit.css" />
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<form id="new-form" action="/roles" method="POST">
  <div id="user-control">
    <div id="create-champion-header">
      Create Role
    </div>
    <button id="save-btn" type="submit">Add Role</button>
  </div>
  <section id="page-container">
    <div id="name-box">
      <h3>Name:</h3> 
      <input id="name-input" name="name" type="text" autocomplete="off" placeholder="Required">
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Description: </p>
      <p id="description-text"><textarea name="description" id="" cols="82" rows="10" placeholder="Required"></textarea></p>
    </div>
  </section>
</form>

<%- include('../partials/footer') %>