<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<section id="page-container">
  <h1>Create A Role</h1>
  <form id="new-form" action="/roles" method="POST">
    <div id="name-box">
      <h3>Name(Required):</h3> 
      <input id="name-input" name="name" type="text">
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Description: </p>
      <p id="description-text"><textarea name="description" id="" cols="82" rows="10"></textarea></p>
    </div>
    <button id="save-btn" type="submit">Add Role</button>
  </form>
</section>

<%- include('../partials/footer') %>