html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}


a{
  text-decoration: none;
  color: white
}

a:hover{
  text-decoration: underline;
}

textarea {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

#poro-sleep {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 0px -25px;
}

#profile-link{
  color: yellow;
  text-decoration: underline;
}

#profile-link:hover{
  color: rgb(187, 187, 10);
}

#role-link-text {
  color: yellow;
  text-decoration: none;
}

#role-link-text:hover {
  color: rgb(187, 187, 10);
  text-decoration: underline;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(64, 92, 216);
  color: black;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  position: fixed;
  right:0px;
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  width: 100%;
}

main {
  font-family: Roboto, sans-serif;
  color:white;
  margin-top: 50px;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  margin-left: auto;
  margin-right: 20px;
}

#logout-btn{
  width: 85px;
  height: 30px;
  border-radius: 5px;
}

#logout-btn:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  cursor: pointer;
}

#roles-title{
  margin-bottom: 20px;
}

#name-input {
  width: 200px;
  margin-left: 10px;
}

#name-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#champ-abilities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  min-height: 1270px;
}

#champ-ability{
  display: flex;
  align-items: center;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  min-height: 200px;
  width: 700px;
  line-height: 2;
  white-space: pre-wrap;
}

#ability-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 43, 138, 0.888);
  padding-right: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
}

#ability-command{
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 100px;
}

#show-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* <----------POPOUT MENU----------> */
.reference {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  align-items: center;
  position: fixed;
  background: #16161d;
  border-style: solid;
  width: 100px;
  height: 80px;
  right: 40px;
  top:200px;
}

.popout-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  position: absolute;
  visibility: hidden;
  right: 100%;
  background: darkblue;
  border-style:double ;
  color: white;
  padding: 16px;
  width: 400px;
  height: 300px;
}

.reference:hover > .popout-menu,
.reference:focus > .popout-menu,
.reference:focus-within > .popout-menu {
  visibility: visible;
}

#adjust-role {
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
}

.edit-buttons {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
}

.edit-buttons:hover {
  background-color: rgb(211, 208, 208);
  cursor: pointer;
}

#save-btn {
  font-family: Roboto, sans-serif;
  position: fixed;
  bottom: 25px;
  right: 200px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding: 10px 10px 10px 10px;
  background-color: darkgreen;
  color: white;
}

#save-btn:hover {
  cursor: pointer;
  background-color: rgb(1, 68, 1);
}

#roleId {
  width: 100px;
}

#adjust-champ-btn {
  width: 150px;
}

#new-form{
  display: flex;
  flex-direction: column;
}


#champ-table{
  display: flex;
  flex-direction: column;
  width: 50%;
  border-style:solid;
  border-width: 5px;
}

#champ-view{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#champ-index-header{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#login-arrow{
  position: absolute;
  top: 50px;
  right: 60px;
  
}

#table-text-left {
  padding-left: 100px;
}

#table-text-right {
  padding-right: 100px;
}

th{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

table{
  align-items: center;
  padding-left: 7px;
}
table:nth-child(even){
  background-color: rgb(19, 40, 194);
  height: 50px;
  width: 100%;
}

table:nth-child(odd){
  background-color: rgba(12, 43, 138, 0.888);
  height: 50px;
  width: 100%;
}


/* <----------TOOLTIP----------> */

.tooltip{
  position: fixed;
  top: 100px;
  right: 250px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  background-color: darkblue;
  cursor: help;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  line-height: 2;
}



/* <----------HAMBURGER CSS----------> */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}