<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<div class="tooltip">
  Help
  <span class="tooltiptext">Q = First Ability <br> W = Second Ability <br> E = Third Ability <br> R = Ultimate Ability</span>
  </label>
</div>

  <section id="show-view">
    <h1>Create A Champion</h1>
    <form id="new-form" action="/champions" method="POST">
      <label for="name-input">Name:</label> 
      <input name="name" type="text">
      <div id="ability-box"> 
        <label for="ability-command">Passive: </label>
        <label><p id="champ-ability"><textarea name="passive" id="" cols="82" rows="10"></textarea></p></label>
      </div>
      <div id="ability-box"> 
        <p id="ability-command">Q: </p>
        <p id="champ-ability"><textarea name="ability1" id="textarea-input" cols="82" rows="10"></textarea></p>
      </div>
      <div id="ability-box"> 
        <p id="ability-command">W: </p>
        <p id="champ-ability"><textarea name="ability2" id="textarea-input" cols="82" rows="10"></textarea></p>
      </div>
      <div id="ability-box"> 
        <p id="ability-command">E: </p>
        <p id="champ-ability"><textarea name="ability3" id="textarea-input" cols="82" rows="10"></textarea></p>
      </div>
      <div id="ability-box"> 
        <p id="ability-command">R: </p>
        <p id="champ-ability"><textarea name="ultimate" id="textarea-input" cols="82" rows="10"></textarea></p>
      </div>
      <button type="submit">Add champion</button>
    </form>
  </section>

<%- include('../partials/footer') %>