<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new-edit.css" />
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>



<form id="new-form" action="/champions" method="POST">
  <div id="user-control">
    <div id="create-champion-header">
      Create Champion
    </div>
    <button id="save-btn" type="submit">Add champion</button>
    <div class="tooltip">
      Help
      <span class="tooltiptext">
        Passive = Innate Ability <br>
        Q = First Ability <br> 
        W = Second Ability <br> 
        E = Third Ability <br> 
        R = Ultimate Ability <br>
      </span>
    </div>
  </div>
  <section id="page-container">
    <div id="name-box">
      <h3>Name: </h3> 
      <input id="name-input" name="name" type="text" autocomplete="off" placeholder="Required">
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Passive: </p>
      <p id="description-text"><textarea name="passive" id="" cols="82" rows="10" placeholder="Innate Ability"></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Q: </p>
      <p id="description-text"><textarea name="ability1" id="textarea-input" cols="82" rows="10" placeholder="First Ability"></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">W: </p>
      <p id="description-text"><textarea name="ability2" id="textarea-input" cols="82" rows="10" placeholder="Second Ability"></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">E: </p>
      <p id="description-text"><textarea name="ability3" id="textarea-input" cols="82" rows="10" placeholder="Third Ability"></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">R: </p>
      <p id="description-text"><textarea name="ultimate" id="textarea-input" cols="82" rows="10" placeholder="Ultimate Ability"></textarea></p>
    </div>
  </section>
</form>

<%- include('../partials/footer') %>